@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.introduce-branch{
    border-bottom: 1px solid #7F7D7D;
}
.intro-content-branch{
    width: 75%;
    margin: auto;
    padding-bottom: 10px;
}
.introduce-branch h1{
    text-align: center;
}
.product-branch{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detail-product{
    display: flex;
    justify-content: center;
    width: calc(90% / 2);
    height: auto;
    margin: 15px 20px;
    box-shadow: 0 10px 28px -18px;
}
.detail-info{
    display: flex;
    flex-direction: column;
}
.detail-image, .detail-info{
    margin: 10px; 
}
.detail-info h3, p{
    font-family: 'PT Sans', sans-serif;
    margin-top: 0px;
}
.detail-info a{
    text-align: center;
    width: 200px;
    margin: 5px 0px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 0px;
    color: white;
    font-size: 14px;
    background-color: black;
    transition: all 0.3s ;
}
.detail-info a:hover{
    opacity: 0.8;
}